<div id="soc2" class="landing-page">
  <header>
    <div class="hero">
      <h1>Meet your SOC2 vulnerability monitoring.</h1>
      <h1>Compliance the easy way.</h1>
    </div>
    <div class="illo">
      <%= image_tag "canary.bluejay.medium.png" %>
    </div>
  </header>

  <section>
    <div class="col-md-10 col-md-offset-1">
      <h1><%= link_to "Sign up now", sign_up_path %> for a free 14 day trial.</h1>
      <hr>
    </div>
  </section>

  <section>
    <div class="feature-set">
      <section>
        <div class="feature">
          <h2>FOMO no more</h2>
          <p>Stop missing out. Get notified as soon as your systems are affected by security vulnerabilities.</p>
        </div>

        <div class="feature">
          <h2>Gain visibility</h2>
          <p>Easily monitor and audit the state of your entire fleet of apps and servers over time.</p>
        </div>

        <div class="feature">
          <h2>Verify changes</h2>
          <p>Ensure your infrastructure and software remains up to date.</p>
        </div>
      </section>
      <hr>
    </div>
  </section>

  <section>
    <div class="trust-criteria">
      <p>With Appcanary, you can automate some of your Security Common Criteria requirements and meet your SOC2 reporting requirements with ease. We're well suited for helping you satisfy Common Criteria CC6.1, CC6.2, CC7.2 and CC7.4.
    </div>
</div>
