---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=7&card[exp_year]=2017&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_BFrpXwChkcFOCCdJSsppJiwk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16KytZEq8J2bfnqA6Gtgdk9p",
          "livemode": false,
          "created": 1436048041,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16KytZEq8J2bfnqAvMhIouA5",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2017,
            "fingerprint": "duspC3ZpcqHaLZSH",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "73.158.58.134"
        }
  recorded_at: Sat, 04 Jul 2015 22:14:01 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_16KytZEq8J2bfnqA6Gtgdk9p&email=alice1%40example.com
    headers:
      Authorization:
      - Bearer sk_test_BFrpXwChkcFOCCdJSsppJiwk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1436048046,
          "id": "cus_6Y53pOOnofhfZa",
          "livemode": false,
          "description": null,
          "email": "alice1@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6Y53pOOnofhfZa/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6Y53pOOnofhfZa/sources",
            "data": [
              {
                "id": "card_16KytZEq8J2bfnqAvMhIouA5",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 7,
                "exp_year": 2017,
                "fingerprint": "duspC3ZpcqHaLZSH",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6Y53pOOnofhfZa"
              }
            ]
          },
          "default_source": "card_16KytZEq8J2bfnqAvMhIouA5"
        }
  recorded_at: Sat, 04 Jul 2015 22:14:06 GMT
recorded_with: VCR 2.9.3
