---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=7&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_BFrpXwChkcFOCCdJSsppJiwk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_173vk9Eq8J2bfnqAImlwPKSu",
          "object": "token",
          "card": {
            "id": "card_173vk8Eq8J2bfnqA4oPKgSPT",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2019,
            "fingerprint": "duspC3ZpcqHaLZSH",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "24.246.15.49",
          "created": 1446760685,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 05 Nov 2015 21:58:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_173vk9Eq8J2bfnqAImlwPKSu&email=alice14%40example.com
    headers:
      Authorization:
      - Bearer sk_test_BFrpXwChkcFOCCdJSsppJiwk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7IWnuEGiC0xaAq",
          "object": "customer",
          "account_balance": 0,
          "created": 1446760685,
          "currency": null,
          "default_source": "card_173vk8Eq8J2bfnqA4oPKgSPT",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "alice14@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_173vk8Eq8J2bfnqA4oPKgSPT",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7IWnuEGiC0xaAq",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2019,
                "fingerprint": "duspC3ZpcqHaLZSH",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7IWnuEGiC0xaAq/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7IWnuEGiC0xaAq/subscriptions"
          }
        }
  recorded_at: Thu, 05 Nov 2015 21:58:06 GMT
recorded_with: VCR 2.9.3
