<!-- <div class="app&#45;sidepanel"> -->
<!-- </div> -->
<section>
  <div class="onboard-box">
    <div class="onboard-wrapper">
      <section>
        <div class="onboard-logo">
          <%= image_tag("oval-chicks.png") %>
        </div>
      </section>

      <!-- <section> -->
      <!--   <div class="col&#45;sm&#45;12"> -->
      <!--     <h1 style="text&#45;align: center">Welcome to Canary.</h1> -->
      <!--   </div> -->
      <!-- </section> -->

    <div class="onboard-desc">
      <section>
        <div class="col-sm-12">
          <!-- <h3>We monitor your app's dependencies</h3> -->
          <!-- <p>We accomplish this by installing an agent on your servers and reporting back what packages you depend on. You've just joined us, so we don't have any data to report.</p> -->
          <h3>Welcome to Canary. Let's get you setup!</h3>
          <p>We talk to your servers through our agent.</p>
          <p>Open a shell on a computer you like. Type:</p>
          <pre>
curl https://LOL-URL-HERE.com/foo.whatever &gt; foo.whatever
tar xvzf foo.whatever
cd foo.whatever
md5sum --check &lt;&lt;&lt; 'stringhere Filehere'</pre>

          <p>(In the future, you'll be able to do this over <code>apt-get</code> or <code>yum</code> or <code>brew</code>.)</p>

          <p>Next, run:</p>
        <pre>./canary --api <code><%= current_user.token.inspect %></code></pre>
          <p>It will prompt you for the location of any ruby apps you have installed. Once you're done, check back here. We'll wait.</p>
        </div>
      </section>
    </div>
    <div class="action-bar">
      <section>
        <div class="col-sm-12">
          <div class="pull-right">
            <%= eui_button "Done!" %>
          </div>
        </div>

      </section>
    </div>

    </div>
  </div>
</section>


