<section>
  <div class="intro-logo">
    <%= image_tag("oval-chicks.png") %>
  </div>
</section>

<div class="row">
  <div class="col-sm-6">
    <h1 style="text-align: center">Welcome to Canary.</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h3>We monitor your app's dependencies</h3>
    <p>We accomplish this by installing an agent on your servers and reporting back what packages you depend on. You've just joined us, so we don't have any data to report.</p>
    <h3>Let's get you setup!</h3>
    <p>To get you started, you're going to have to install our agent.</p>
    <p>Open a shell on a computer you like, and type:</p>
    <pre>
    curl https://LOL-URL-HERE.com/foo.whatever &gt; foo.whatever
    tar xvzf foo.whatever
    cd foo.whatever
    md5sum --check &lt;&lt;&lt; 'stringhere Filehere'</pre>

    <p>(In the future, you'll be able to do this over <code>apt-get</code> or <code>yum</code> or <code>brew</code>.)</p>

    <p>Next, run:</p>
        <pre>./canary --api <code><%= current_user.token.inspect %></code></pre>
    <p>It will prompt you for the location of any ruby apps you have installed. Once you're done, check back here.</p>
  </div>
</div>


