.heading
  %h3
    %span My Servers
#dashboard
  %table.servers
    -if @servers.empty?
      .empty_message You don't have any servers yet.
    -else
      - @servers.each do |server|
        %tr.server
          = render :partial => "servers/list", :locals => { :server => server }
