.navigation
  =render partial: "layouts/navbar"
#main.main-drawer
  .heading
    %h3
      %span My Servers
  #dashboard
    %table.servers
      -8.times do
        %tr.server
          %td.status
            -if rand(2) == 1
              %span.fa.fa-exclamation-triangle.warn
            -else
              %span.fa.fa-check-circle.okay
          %td.link
            %a{href: server_path(1)}
              %span.title
                =Faker::Lorem.words(1..5).join(' ').titleize
              %span.last_updated.info
                updated
                %span.data=time_ago_in_words rand(120).minutes.ago
                ago
          %td.notifications
            %a.switch{:class => (rand(2) == 0 ? 'pressed' : ''), :href => '#'}
              notify me
