<section style="margin-bottom: 20px">
  <div class="col-sm-6" style="">
    <ul class="nav nav-pills" style="top: 25%; position: relative">
      <li role="presentation" class=""><a href="#" class="btn btn-default btn-lg">Dashboard</a></li>
      <li role="presentation"><a href="#"class="btn btn-default btn-lg">Apps</a></li>
      <li role="presentation"><a href="#"class="btn btn-default btn-lg">Servers</a></li>
    </ul>
  </div>
</section>

<section>
  <div class="timeline-box">
    <div class="vuln">
      <div class="title">
        <section>
          <div class="icon col-sm-1">
            <%= image_tag("icon-ruby.png") %>
          </div>
          <div class="name col-sm-11">
            <p><strong>Ruby Gem:</strong> Some shit goes here</p>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>

