- if @servers.present?
  %section
    .heading
      %h3
        %span My Servers
-if @onboarded
  #dashboard
    %table.table.servers
      - @servers.each do |server|
        %tr.server
          = render :partial => "servers/list", :locals => { :server => server }
-else
  %section
    .col-sm-8
      .col-sm-4.col-sm-offset-2
        = image_tag "canary-rough-egg.jpg", :style => "width: 250px"
      .empty_message.col-sm-9
        You don't have any servers yet!
        You should
        = link_to "add some", new_server_path
        and come back once you're done.

-# = eui_button "Feedback", href: "", :class => "eui-button-medium-primary feedback"
