<div id="vuln_dashboard">
  <h1 class="page-header">
    <span id="vulns_total"><%= @THREATS.size %></span> Vulnerabilities</h1>

  <div class="col-sm-12">
    <table id="vulnerability_list" class="table packages">
      <thead>
        <th class="col-sm-4">vuln</th>
        <th>priority</th>
        <th class="col-sm-4">affected bundles or tags</th>
        <th class="col-sm-2">vuln for</th>
        <th class="col-sm-2"> (faked)</th>
      </thead>
   </table>
  </div>

</div>

<script>
  $(document)
    .ready(function() {
      $('#vulnerability_list')
        .DataTable({
          order: [[1, 'desc'], [3, "asc"]],
          paging: true,
          processing: true,
          serverSide: true,
          ajax: "",
          dom: "<'row'<'col-sm-6'f><'col-sm-6'l>>" + "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
          drawCallback: function(data) { $('#vulns_total').text(data.fnRecordsTotal()); },
          columns: [
            {data: "vuln"},
            {data: "criticality"},
            {data: "tags"},
            {data: "occurred_at"},
            {data: "ignore"}
          ]
        });
    });

</script>
