<%= content_for :email_header do %>
  <tr class="header-logo">
    <td>
      <a href="https://appcanary.com"><img src="<%=image_url("appcanary-hero-vuln.png")%>" title="appcanary logo"></a>
    </td>
  </tr>
<% end %>


<p>Hello,</p>

<p>Thank you for being a customer of Appcanary. We are writing to inform you that we are shutting down Appcanary this year.</p>

<p>To help our paying customers transition, we will keep the service running for another five months. We've stopped accepting new signups today, and on <b>June 1st, 2018</b>, we will officially stop operating the service.</p>

<p>We are sorry for the inconvenience and we would like to thank you for your trust over the past two years.</p>

<p>From when we cofounded <a href="https://www.rubysec.com">Rubysec</a>, to building (the now defunct) <a href="https://blog.appcanary.com/2015/hello-appcanary.html">Gemcanary</a>, to <a href="https://blog.appcanary.com/2015/hello-world.html">starting Appcanary</a>, our goal from the beginning was to improve the world’s security by preventing the use of vulnerable software. At the time, this required placing a bet on building a certain kind of business, and for a variety of reasons that bet didn’t work out.</p>

<p>However, this doesn't mean that we're giving up on the mission!</p>

<p>We’re excited to announce that we’re going to be able to build tools that impact almost every software developer on the planet — we’re joining GitHub. There, we’ll be working on expanding GitHub’s security tooling, like their recently announced <a href="https://github.com/blog/2470-introducing-security-alerts-on-github">vulnerable dependency alerting</a>.</p>

<p>We look forward to our paths crossing again via our continued work on the GitHub platform.</p>

<p>If you are interested in learning more about GitHub, please visit: </p>

<ul>
<li><a href="https://github.com">GitHub.com</a></li>
<li><a href="https://github.com/blog/2470-introducing-security-alerts-on-github">GitHub Security Alerts</a></li>
</ul>

<p>Thank you,</p>

<p>Max Veytsman and Phill Mendonça-Vieira</p>


<hr>

<h2 id="questions-you-may-have">Questions you may have:</h2>

<p><strong>What is happening to the Appcanary products - API, Agent, and Monitor alerting?</strong></p>

<p>All three products will be sunsetting on <strong>June 1st, 2018</strong>.</p>

<p>If you are currently a paying customer, you can continue to use and pay for the service until then. You may also, of course, cancel the service at any time by going to <a href="https://appcanary.com/billing">the billing page</a> and disabling the agent from your servers.</p>

<p>We are not going to be accepting any new customers for these products.</p>

<p><strong>What is happening the the public vulnerability page?</strong></p>

<p><a href="https://appcanary.com/vulns">The vulnerability browser</a> will continue to operate until <strong>June 1st, 2018</strong>.</p>

<p><strong>What is happening to isitvulnerable.com?</strong></p>

<p>It will also continue to work until <strong>June 1st, 2018</strong>, although we recommend you use <a href="https://github.com/blog/2470-introducing-security-alerts-on-github">Github Security Alerts</a> instead.</p>

<p><strong>Wait, does this mean that GitHub will know about my security vulnerabilities?</strong></p>

<p>No. Appcanary will not be sharing any data that can be used to identify our customers&rsquo; vulnerabilities with GitHub.</p>

<p><strong>Who do you recommend using instead of Appcanary?</strong></p>

<p>Ruby coverage is live in GitHub’s Security Alerts feature. Today you can get PHP coverage from security partners like Gemnasium (and soon Snyk) in the <a href="https://github.com/marketplace">GitHub Marketplace</a>.</p>

<p>For Ubuntu, Debian, CentOS, Amazon Linux, and Alpine Linux coverage, we recommend <a href="https://spacewalkproject.github.io/">Spacewalk</a>, <a href="https://landscape.canonical.com/">Landscape</a>, <a href="https://coreos.com/clair/docs/latest/">CoreOS Clair</a>, <a href="https://www.tenable.com/products/nessus/nessus-agents">Nessus Agents</a>, or <a href="https://www.threatstack.com/">ThreatStack</a>.</p>

<p><strong>What is GitHub’s Security Alerts offering?</strong></p>

<p>GitHub currently sends alerts to public repositories and private repositories that have opted in about publicly disclosed CVEs for Javascript and Ruby. GitHub is soon adding Python support and expanding vulnerability coverage to include more of Appcanary’s database.</p>

<p><strong>Who do we contact for product support until the product sunsets?</strong></p>

<p>You can still reach us via the normal support channels or by emailing hello@appcanary.com</p>

