var Dashboard = React.createClass({
  componentDidMount: function() {
    // TODO unbind
    this.props.timeline.on("sync", function() {
      this.forceUpdate();
    }, this);
  },

  render: function(){
    return (
      <div>
        <div className="navigation">
          <Navbar />
        </div>
        <div id="main" className="main-drawer container">
          <TimelineView collection={this.props.timeline} />
        </div>
      </div>
    )
  }
});
