var SignUp = React.createClass({
  
  render: function() {
    return (
      <div>
        <Logo />
        <SignUpForm handler={this.props.handler} />
      </div>
    );
  }
});

var SignUpForm = React.createClass({
  mixins: [Canary.mixins.RefNodeMixin],

  createUser: function(e) {
    e.preventDefault();

    Canary.Herald.dispatch({
      actionType: 'user-sign-up',
      form: this.refnode("form")
    });
  },

  render: function() {
    return (
      <section>
        <div className="user-login">
          <form data-toggle="validator" className="new_user" action="/users" method="post"ole="form" ref="form" onSubmit={this.createUser} >
            <h3>Before we get started, tell us:</h3>
            <div className="form-group">
              <input className="form-control" placeholder="Your email address" type="email" name="email" id="user_email" ref="email" required/>
            </div>

            <div className="form-group">
              <input className="form-control" placeholder="A password, or a secret between us" data-minlength="6" data-error="At least 6 characters" type="password" name="password" id="user_password" ref="password" required/>
              <span className="help-block with-errors"></span>
            </div>

            <div className="form-group">
              <input className="form-control" placeholder="The same password again, just to confirm" data-match="#user_password" data-error="Passwords must match" type="password" name="password_confirmation" id="user_password_confirmation" ref="password_confirmation" required />
              <span className="help-block with-errors"></span>
            </div>

            <div className="form-group">
              <input type="submit" name="commit" value="Sign Up" className="btn btn-black" />
            </div>

          </form>
        </div>
      </section>
    )
  }
});

var Logo = React.createClass({
  render: function() {
    return (
      <section>
        <div className="logo">
          <img src={'<%= image_path("oval-canary.png") %>'} />
        </div>
      </section>
    );
  }
});

