<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
  <tr>
    <td valign="top" class="bodyContainer"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
        <tbody class="mcnTextBlockOuter">
          <tr>
            <td valign="top" class="mcnTextBlockInner">

              <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                <tbody><tr>

                    <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                      <h1>Hey! Good job.</h1>

                      <h3>We've detected that you patched some vulnerabilities.</h3>

                      <p>Here's what changed:</p>
                      <% @notifier.each_vuln do |vuln, logs| %>
                        <h2><%= link_to vuln.title, vuln_url(vuln.id) %></h2>
                        <p>is no longer present in:</p>
                        
                        <%= logs.uniq(&:bundle).map { |l| link_to_server_or_monitor(l) }.join(", ").html_safe %>
                        <hr/>
                        <br/>
                      <% end %>

                      <% @notifier.each_unpatched_vuln do |vuln, logs| %>
                        <h2><%= link_to vuln.title, vuln_url(vuln.id) %></h2>
                        <p>is no longer present in:</p>
                        
                        <%= logs.uniq(&:bundle).map { |l| link_to_server_or_monitor(l) }.join(", ").html_safe %>
                        <hr/>
                        <br/>
                      <% end %>


                    <h4 class="null">Questions? Concerns? Reply to this message, and we'll get back to&nbsp;you asap.</h4>

                  </td>
                </tr>
            </tbody></table>

          </td>
        </tr>
      </tbody>
  </table></td>
</tr>
</table>

