<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
  <tr>
    <td valign="top" class="bodyContainer"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
        <tbody class="mcnTextBlockOuter">
          <tr>
            <td valign="top" class="mcnTextBlockInner">

              <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                <tbody><tr>

                    <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                      <h1>Hey! Good job.</h1>

                      <h3>We've detected that you patched some vulnerabilities.</h3>

                      <p>Here's what changed:<br>
                        <br>
                        <% @notifications_by_vuln.each_pair do |vuln, pkgs| %>
                          <br>
                          <strong><a href="{{ vulnLink }}"><%= vuln.title %></a></strong><br>
                          <% pkgs.each do |p| %>
                            <br>
                            <p> in <strong><%= p.bundle.path %></strong></p>
                          <% end %><br>
                        <% end %></p>

                      <h4 class="null">Questions? Concerns? Reply to this message, and we'll get back to&nbsp;you asap.</h4>

                    </td>
                  </tr>
              </tbody></table>

            </td>
          </tr>
        </tbody>
    </table></td>
  </tr>
</table>

