%td.status
  -if server.is_vulnerable
    %span.fa.fa-exclamation-triangle.warn
  -else
    %span.fa.fa-check-circle.okay
%td.link
  %a{href: server_path(server)}
    %span.avatar
      = avatar(server)
    %span.title
      = server.hostname
    %span.last_updated.info
      updated
      %span.data=time_ago_in_words server.last_heartbeat_at
      ago
%td.notifications
  -# %a.switch{:class => (rand(2) == 0 ? 'pressed' : ''), :href => '#'}
    notify me
