%td
  %section
    .status
      - if server.apps.empty? || server.gone_silent?
        %span.fa.fa-question-circle
      -elsif server.vulnerable
        %span.fa.fa-exclamation-triangle.warn
      -else
        %span.fa.fa-check-circle.okay
    .description
      %span.title
        = link_to server.display_name, server_path(server)
      %div.last_updated.info
        = link_to "updated #{time_ago_in_words server.last_heartbeat_at} ago", server_path(server)
    .actions
      =link_to('edit', edit_server_path(server), class: 'btn btn-primary')
      =link_to('delete', server_path(server), method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure you want to delete this server?"})

