<h4>1. Install the agent</h4>
<p>Our install script (<a href="https://appcanary.com/servers/rpm.sh">https://appcanary.com/servers/rpm.sh</a>) adds our repository to your yum sources, and installs our package.</p>
  <kbd>curl -s https://appcanary.com/servers/rpm.sh | sudo bash</kbd>
  <br/>
  <span style="font-size: 12px">Always inspect scripts before you curl sudo bash them. <a href="https://appcanary.com/servers/rpm.sh" target="_blank">Click here</a> to inspect ours.</span>
</p>

<h4>2. Add your API key</h4>
<p>Now edit the configuration:
  <br/>
  <kbd>vim /etc/appcanary/agent.conf</kbd>
  <br/>
  <br/>
  The following block has your API key; make sure to fill in the full path of your <code>Gemfile.lock</code> files:
  <br/>
  <pre>
api_key = "<%= @agent_token %>"

# Fill in your Ruby app's path and 
# uncomment the next two lines:

#[[files]]
#path = "/path/to/a/Gemfile.lock"

# You need one [[files]] &amp; path per app.
# To add another app: 

#[[files]]
#path = "/path/to/a/different/Gemfile.lock"
</pre>
</p>

<h4>3. Boot the agent</h4>
<p>Start the agent, using either upstart, systemd or sysvinit:
  <br/>
  <kbd>sudo start appcanary</kbd><br/> or<br/>
  <kbd>sudo systemctl start appcanary</kbd><br/>or </br>
  <kbd>sudo service appcanary start</kbd>
</p>

