=render :partial => "shared/heading"

=form_tag(server_path(@server), method: :put, class: "edit_server basic") do
  .field.name
    =label :server, :name
    =text_field :server, :name, :class => "text", :placeholder => "eg. Acme Serve"
  =submit_tag "Update Server"
