.heading
  %h3
    Welcome! Let's add your servers.

%section
  .col-sm-6
    .col-sm-12
      %h4
        Here's what you gotta do.

      %p
        Currently, we only support:
        %ol
          %li 
            %span{}
              = image_tag "icon-ruby.png", :style => "width: 13px"
            Ruby
          %li
            %span{}
              = image_tag "icon-ubuntu.png", :style => "width: 13px"
            Ubuntu


      %p
        Long story short, copy and paste the following into a shell:
        %br/
        %code
          curl -s https://packagecloud.io/install/repositories/appcanary/agent/script.deb.sh | sudo bash
        %br/
        %br/
        %code
          apt-get update
        %br/
        %br/
        %code
          apt-get install appcanary
      
      %h4 Awesome.

      %p 
        Now you just have to edit the configuration file. It's sitting in 
        %code
          \/etc/appcanary/agent.conf
        \.
        You will want an API key, so please use this one:
        %pre
          = @agent_token

        Finally, point the config file to your
        %code
          Gemfile.lock
        using it's full qualified path. The sample config should be obvious.

      %h4
        Finally,
      %p
        We've shipped an upstart script with the package, so you can just type:
        %br/
        %code start appcanary-agent

      %h5 Contact us at hello@appcanary.com should you have any problems.

%section
  .col-sm-8
    .col-sm-12
      %br/
      %p
        %strong
          (Forgive us, we're still a little rough around the edges.
          %br/
          We're working hard to make this easier.)

    .col-sm-4.col-sm-offset-1
      = image_tag "canary-rough.jpg", :style => "width: 200px"


