<%= render 'shared/logo' %>
<section>
  <div class="user-login">

    <% content_for :user_form_title do %>
      <h3>Before we get started, tell us:</h3>
    <% end %>

    <%= render :partial => 'form', :locals => { :sign_up => true } %>
  </div>
</section>
