<p>A Package may be thought of as a unique (<code>name</code>, <code>platform</code>, <code>release</code>, <code>version</code>) tuple.</p>

<dl class="dl-horizontal">
  <dt>name</dt>
  <dd>The name of the package, dependency or artifact</dd>
  <dt>platform</dt>
  <dd>The name of the platform, ecosystem or environment this package belongs to.</dd>
  <dt>release</dt>
  <dd>The name or version string of the specific release of the platform, ecosystem or environment this package belongs to.</dd>

  <dt>version</dt>
  <dd>The specific version string of the package being discussed. Version string formats vary from platform to platform.</dd>

  <dt>relationships</dt>
  <dd>A array of objects describing the vulnerabilities that affect this specific Package. Due to the nature of this API endpoint, this array should never be empty.</dd>
</dl>
