<footer class="footer">
  <%= image_tag "footer-egg.png" %>
  <nav>
    <ul>
      <li><a href="https://appcanary.com/">Home</a></li>
      <li><a href="https://appcanary.com/#team">Team</a></li>
      <li><a href="mailto:hello@appcanary.com">Contact</a></li>
      <li><a href="http://blog.appcanary.com">Blog</a></li>
    </ul>
  </nav>
  <p>&copy; 2015 Canary Computer Corporation</p>
</footer>
