<footer class="footer">
  <%= image_tag "footer-egg.png" %>
  <nav>
    <ul>
      <li><a href="www.google.com">Home</a></li>
      <li><a href="www.google.com">Dashboard</a></li>
      <li><a href="www.google.com">Contact</a></li>
      <li><a href="www.google.com">Blog</a></li>
      <li><a href="www.google.com">Twitter</a></li>
    </ul>
  </nav>
  <p>&copy; 2015 Canary Computer Corporation</p>
</footer>
