.heading
  %h3
    %span=link_to "My Servers", dashboard_path
    - if @server
      \/
      %span.avatar= avatar(@server)
      %span.name= @server.hostname

      - unless @app
        -if action_name == 'show'
          \/
          %span Apps
        -if action_name == 'edit'
          \/
          %span Edit
      - else
        \/
        %span=link_to "apps", server_path(@server)
        \/
        %span.name= @app.short_path
        \/
        %span Packages

    - if @vuln
      | vulnerabilities /
      =  truncate @vuln.title, length: 50
