<div class="unit-container">
  <div class="unit demo">
    <div class="unit_demo-box unit_demo-box-before">
      <p>Drop a file on me!</p>
    </div>
    <div class="unit_demo-copy">
      <h3>We&rsquo;ll tell you what&rsquo;s vulnerable and how to update it.</h3>
      <p>Try dragging one of the files below onto the area on the left, or drag and drop in your own <strong>Gemfile</strong> or <strong>package.json</strong>:</p>
      <div class="button button-ruby">Gemfile</div>
      <div class="button button-node">package.json</div>
      <div class="button button-ubuntu">dpkg</div>
    </div>
  </div>
</div>
