<div class="jumbotron">
  <h1>Know your servers.</h1>
  <p class="lead">Stop worrying about your infrastructure's security.<br/>We'll make your vulnerability updating go from sisyphean to done.</p>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= form_tag "/beta/list", :method => :post, :name => :user do %>
        <div class="input-group input-group-md">
          <input type="email" name="email" class="form-control input-md" placeholder="jane@example.com">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">Let me know</button>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Get a handle on your app's security</h4>
    <p>We monitor your infrastructure and notify you when you need to act.</p>

    <h4>Stop being afraid of missing out</h4>
    <p>We'll keep on top of what's going on, so you don't have to.</p>

    <!-- <h4>Subheading</h4> -->
    <!-- <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p> -->
  </div>

  <div class="col-lg-6">
    <h4>Measure your responses</h4>
    <p>We track your team's responses to security events, and give you auditable logs of your actions.</p>


    <h4>No Github required</h4>
    <p>We look at what you've got deployed, and not just what you're working on.</p>

    <!-- <h4>Subheading</h4> -->
    <!-- <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p> -->

    <!-- <h4>Subheading</h4> -->
    <!-- <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p> -->
  </div>
</div>

<% if flash[:subscribed] %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= flash[:subscribed] %>
  </div>
<% end %>


<footer class="footer">
  <p>© Manufactured by <a href="http://state.io">State Machinery</a>, 2015</p>
</footer>

