<div class="topbar"></div>

<div class="hed">
  <div class="bird">
    <%= image_tag "oval-canary.png" %>
  </div>
  <h1>Secure your apps,<br/>one dependency at a time.</h1>
</div>

<div class="landing-container">

  <div class="unit">

    <div class="subhed">
      <p>Stop worrying about your infrastructure's security.</p>
      <p>We'll tell you what's vulnerable and how to update it.</p>
    </div>

    <div class="flash subhed" style="display: none"><p>Thanks! We'll be in touch soon.</p></div>
      <%= form_tag "/beta/list", :method => :post, :name => :user, :class =>"sign-up" do %>
        <input type="email" name="email" class="form-control input-md" placeholder="jane@example.com">
        <button type="submit" class="btn btn-default">Let me know</button>
      <% end %>

  </div>

  <div class="features">

    <div class="feature-unit">
      <h4>Never miss<br>out again</h4>
      <p>Don't find out about vulnerabilities through Hacker News and Twitter.</p>
    </div>

    <div class="feature-unit">
      <h4>Vulnerabilities<br>are inevitable</h4>
      <p>Getting hacked doesn't have to be. Make the next Heartbleed be like any other day on the job.</p>
    </div>

   
    <div class="feature-unit">
      <h4>Make your response predictable</h4>
      <p>We track your team's responses to security events, and give you auditable logs of your actions.</p>
    </div>

     <div class="feature-unit">
      <h4>Improve the quality of your sleep</h4>
      <p>We monitor your infrastructure and notify you when you need to act.</p>
    </div>


  </div>

  <footer class="footer">
    <p>&copy; Manufactured by <a href="http://state.io">State Machinery</a>, 2015</p>
  </footer>

</div>
