<%= form_for @user, url: billing_path, :method => :put, html: { id: "payment-form", class: 'basic' } do |f| %>
  <span class="payment-errors"></span>

  <div class="level">
    <div class="field cc-number">
      <label>Card Number</label>
      <input type="text" class="text" size="20" maxlength="16" data-stripe="number"/>
    </div>
  </div>


  <div class="level">
    <div class="field cc-mm">
      <label>
        MM
      </label>
      <input type="text" class="text" size="2" maxlength="2" data-stripe="exp-month"/>
    </div>
    <div class="field cc-yyyy">
      <label>
        YYYY
      </label>
      <input type="text" class="text" size="4" maxlength="4" data-stripe="exp-year"/>
    </div>

    <div class="field cc-cvc">
      <label>
        CVC
      </label>
      <input type="text" class="text" size="4" maxlength="4" data-stripe="cvc"/>
    </div>

  </div>

  <div class="level buttons">
    <input type="submit" value="Submit Payment" />
  </div>
<% end %>
