<%= form_for @user, url: billing_path, :method => :put, html: { id: "payment-form" } do |f| %>
  <% if @user.errors.any? %>
    <div class="error_explanation" role="alert">
      <h4>Oops. We encountered an error:</h4>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <p>You currently have <%= current_user.servers_count %> servers.</p>
    <% if current_user.discounted? %>
      <p>(With a 20% discount, because you're special)</p>
    <% end %>
    <label>Available plans:</label><br/>
    <%= f.select :subscription_plan, DeprecatedSubscriptionPlan.select_ac_plans(current_user.has_billing?, current_user.discounted?), { disabled: DeprecatedSubscriptionPlan.disabled_ac_plan(current_user.servers_count, current_user.discounted?) } %>
    <br/>
    <br/>
    <button type="submit" class="btn btn-default submit">Change plan</button>
  </div>
<% end %>
