<div class="col-sm-6">
  <h2>Billing</h2>
  <% if @user.has_billing? %>
    <h5>Credit card on file</h5>

    <% @user.payment_info.each do |card| %>
      <dl>

        <dt>Last four digits:</dt>
        <dd><%= card.last4 %></dd>

        <dt>Expiry:</dt>
        <dd><%= card.exp_month %> / <%= card.exp_year %></dd>


      </dl>
    <% end %>
  <% end %>
  <%= render :partial => "settings/credit_card_form" %>
</div>
