.heading
  %h3
    Settings

.section
  .user_api
    %h5
      Your API token is:
    %code
      = current_user.agent_token
    %br/
    %br/

.section
  .user_form
    = simple_form_for @user, url: settings_path do |f|
      =f.input :password
      =f.input :password_confirmation
      =f.button :submit, :class => "btn btn-default"
