.heading
  %h3
    Settings

.section
  .user_form
    = simple_form_for @user, url: settings_path do |f|
      =f.input :email
      =f.input :password
      =f.input :password_confirmation
      =f.button :submit, :class => "btn btn-default"
