$mobile-width: new-breakpoint(max-width 736px 4);

// grid stuff
$grid-columns: 12 !global;
$max-width: em(1180px) !global;
$border-box-sizing: true !global;

// colours
$text-colour: #111;
$bg-colour: #f2f2f2;
$yellow: lighten(#fadc58, 5%);
$dark-yellow: darken($yellow, 20%);
$brown: #64572b;

$lightgray: #b0b0b0;

$ruby-colour: #ee6161;
$node-colour: #53b164;
$ubuntu-colour: #586be2;

$proxima: 'Proxima-Nova', sans-serif;
$myriad: 'Myriad Pro', sans-serif;


// flashes
$base-spacing: 1.5em !default;
$alert-color: #fff6bf !default;
$error-color: #fbe3e4 !default;
$notice-color: #e5edf8 !default;
$success-color: #e6efc2 !default;

// see .topbar
$margin-from-topbar: 35px;
