@import "bourbon";
@import "neat";

@import "globals";
@import "partials/mixins";
@import "components";
@import "hero";
@import "sign_up";
@import "errors";

body {
  background-color: $bg-colour;
  font-size: 16px;
  color: $text-colour;
  line-height: 1.2;
  font-family: $proxima;
  text-rendering: optimizeLegibility;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  box-sizing: border-box;
  @include media($mobile-width) {
    width: 100%;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 300;
  letter-spacing: -0.035em;
}

a {
  color: $text-colour;
  &:hover {
    color: $text-colour;
    text-decoration: none;
  }
}

img {
  @include fill-parent;
}

.clear {
  margin: 0 !important;
}


// used for testing the compass gri
// .glob {
//   position: fixed;
//   width: 100%;
// }
// .test {
//   @include outer-container;
//   .test-row {
//     @include row();
//     .span {
//       @include span-columns(1 of 12);
//   height: 1000px;
//       border-right: solid black 1px;
//       border-left: solid black 1px;
//     }
//   }
// }

.subhed {
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 1.5em;
  p {
    margin: 0;
    padding: 0;
  }
  @include media($mobile-width) {
    font-size: 1.3em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    p {
      padding-bottom: 10px;
    }
  }
}

.unit-container {
  border-bottom: 1px solid lighten($text-colour, 70%);
  padding: 3.8em 0;
  @include media($mobile-width) {
    width: 100%;
    padding-top: 3em;
    padding-bottom: 2em;
  }
}


.unit-container_yellow {
  background-color: $yellow;
}

.unit {
  @include outer-container;
  h2 {
    font-size: 3.4em;
    font-weight: 400;
    margin-bottom: 1.4em;
    line-height: 0.9em;
  }
  @include media($mobile-width) {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 1.5em;
  }
}

.trust {

  padding-bottom: 2em;
  h3 {
    font-size: 2.2em;
    text-align: center;
    padding-bottom: 0.8em;
    @include mobile-all {
      padding-bottom: 0em;
    }
  }

  
  .customer { 
    @include span-columns(1 of 7);
    

    .brand {
      img {
        display: block;
        width: initial;
        max-width: 90%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        top: 50%;
        transform: translateY(-50%);
        @include mobile-all {
          margin-top: 0px;
        }
      }
    }

    @include mobile-all {
      @include span-columns(6 of 12);
      margin-right: 0em;
      margin-top: 2em;
      // margin-left: 1em;
    }
  }

  .customer:first-of-type {
    @include shift(1);
    @include mobile-all {
      @include shift(0);
    }
  }

}

.vulns {
  text-align: center;
  h1 {
    font-weight: 600;
    font-size: 5.4em;
    @include mobile-all {
      font-size: 3.2em;
      line-height: 0.9em;
      padding-top: 0.3em;
      padding-bottom: 0.3em;
    }
  }
  h3 {
    font-size: 2.2em;
  }
}

.how {
  
  h2 {
    @include mobile-all {
      text-align: center;
    }

    &.title {
      text-align: center;
      margin-bottom: 10px;
    }

  }

  .unit_how {
    @include span-columns(4 of 12);
    @include mobile-all {
      @include span-columns(12 of 12);
      margin-bottom: 3em;
    }

    img {
      margin-bottom: 1em;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      display: block;
    }

    h3 {
      padding: 0 0.6em;
      font-size: 2.1em;
      line-height: 1em;
      text-align: center;
    }
  }
  form {
    text-align: center;
  }

  .unit_illustration {
    @include span-columns(5 of 12);
  }

  .unit_exposition {
    @include span-columns(5 of 12);
    @include shift(1);

    h3 {
      font-size: 2.1em;
    }

    .supported {
      @include span-columns(6 of 12)
    }
  }

}

.mobile-pricing {
  @include not-mobile {
    display: none;
  }
  .tier {
    margin-right: 0em;

    h3 {
      padding-top: 0;
      font-weight: 600;
      font-family: $myriad;
      font-size: 1.8em;
      margin-bottom: 0.2em;
    }

    .price {
      font-variant: small-caps;
      font-size: 1.2em;
      margin-top: 0;
    }
    .add-margin {
      margin-bottom: 2em;
    }
  }

}


.pricing-row {
  @include mobile-all {
    display: none;
  }
  @include fill-parent();
  @include row(table);

  font-size: 1.5em;

  .tier {
    @include span-columns(2 of 12);
    padding-top: 10px;
    border-right: 1px solid black;
    &:last-of-type {
      border-right: none;
    }

    
    text-align: center;

    h3 {
      padding-top: 0;
      font-weight: 600;
      font-family: $myriad;
      font-size: 1.8em;
      margin-bottom: 0.2em;
    }

    .price {
      margin-bottom: 0px;
      .value {
        font-size: 1.8em;
      }
      font-variant: small-caps;
    }
  }

  .hl {
    background: white;
  }
  .label {
    @include span-columns(1 of 12);
    padding-top: 10px;
    text-align: right;
    font-size: 0.8em;
  }

  .last {
    @include reset-display;
  }
  .button {
    text-decoration: none;
    background-color: #337ab7;
    box-shadow: 0px 0px 0px 0.2em #337ab7;
    //border: 1px solid $bg-colour; //lighten(white, 50%);
    color: white;
    &:hover {
      border-color: white;
      color: white;
      text-decoration: none;
      @include transition (all 0.1s ease-in);
      cursor: pointer;
    }
  }
}
 .enterprise-pricing {
   text-align: right;
   font-size: 1.2em;
   padding-top: 10px;
   margin-right: 2em;
  }



// deprecated
.pricing {

  h2 {
    @include mobile-all {
      text-align: center;
    }
  }

  .unit_pricing {
    @include span-columns(3 of 12);

    @include mobile-all {
      @include span-columns(12 of 12);
      margin-bottom: 5em;
    }

    text-align: center;
    position: relative;
    z-index: 1;
    padding-bottom: 4em;
    &:hover {
      cursor: pointer;
      .circle {
        @include transition (all 0.1s ease-in);
        opacity: 1;
      }
    }
  }
  .circle {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 100%;
    z-index: -1;
    opacity: 0.4;
    @include transition (all 0.1s ease-out);
    @include mobile-all {
      width: 75%;
      padding-bottom: 75%;
      margin-left: 12%
    }
  }

  h3 {
    padding-top: 1em;
    font-weight: 600;
    font-family: $myriad;
    font-size: 3em;
    margin-bottom: 0.2em;
    z-index: 100;
  }
  p {
    font-weight: 500;
    line-height: 1em;
    font-size: 2em;
    margin: 0;
    z-index: 100;
    padding: 0 1em;
  }
  .unit_pricing-price {
    font-weight: 600;
    font-size: 2.2em;
    margin: 0;
    padding: 0;
  }
}

footer {
  @include outer-container();
  padding: 1.4em 0;
  img {
    @include span-columns(1 of 12);
    width: 50px;
    @include media($mobile-width) {
      display: none;
    }
  }
  nav {
    @include span-columns (5 of 12);
    padding-top: 1em;
    vertical-align: top;
    @include media($mobile-width) {
      @include span-columns(4 of 4);
      text-align: center;
      margin: 0 auto;
      padding-bottom: 10px;
    }
    ul {
      list-style-type: none;
      display: inline;
      margin: 0;
      padding: 0;
    }
    li {
      display: inline;
      padding-right: 0.5em;
      a {
        color: $text-colour;
        &:hover {
         text-decoration: underline;
        }
      }
    }
  }
  p {
    @include span-columns (6 of 12);
    padding-top: 0.3em;
    text-transform: uppercase;
    font-size: 0.8em;
    text-align: right;
    @include media($mobile-width) {
      @include span-columns(4 of 4);
      text-align: center;
      margin: 0 auto;
    }
  }
}


.team { 

  h2 {
    @include mobile-all {
      text-align: center;
    }
  }

  .unit_about {
    float: left;
    display: block;
    // margin-right: 3.3576516%;
    width: 60%;
    margin-left: 19%;
    text-align: center;
    position: relative;
    z-index: 1;
    padding-bottom: 4em;
    @include mobile-all {
      margin-left: 0;
      width: 100%;
      padding-bottom: 2em;
    }

  }


  .half {
    float: left;
    display: block;
    margin-right: 3.3576516%;
    width: 44.8211742%;

    @include mobile-all {
      width: 100%;
    }

    p {
      text-align: justify;
      padding: 1em;
      @include mobile-all {
        margin-left: 1em;
        margin-right: 1em;
      }
    }
    a {
      text-decoration: none;
    }
  }
  .full {
    @include span-columns(12 of 12);
    text-align: left;

    p {
      @include mobile-all {
        margin-left: 1em;
        margin-right: 1em;
      }
    }
  }

  img {
    width: 200px;
    display: inline;
    &:hover {
      @include transition (all 0.1s ease-in);
      opacity: 0.8;
    }

  }

  .yc { 
    color: #F0652F
  }

  a {
    font-weight: bold;
    color: black;
    &:hover {
      text-decoration: underline;
    }
  }
}


@import "isitvuln";
@import "static";
