<div class="topbar"></div>
<%= render :partial => "shared/top_menu" %>

<div class="hero-wrapper">
  <div class="hero-legal">

    <div class="hero_sell-line">
      <h1>Privacy Policy</h1>
    </div>

  </div>
</div>

<div class="legal">
    <div class="policy">

      <p>In order to run our service, we have to collect some information about our users. We also store some of the information submitted to us over the normal use of our service - typically, information about your servers, or software library dependencies.
    </p>
    <p>Here we outline what information we collect, and how we collect it.</p>

    <h2>Questions? Concerns?</h2>
    <p>
      Please contact us at hello@appcanary.com
    </p>

      <h2>What kind of data do you collect?</h2>

      <p>
        When you visit our site, we automatically collect the information your browser or device sends to us. We keep track of your visits primarily via the use of cookies, though we may use other tracking tools. We collect this information, unless stated otherwise, for the sole purpose of providing you with our service. Furthermore, we use some third party services to analyze the usage of our service, communicate with our users and so on. 
      </p>
      <p>
        When you sign up with our service we collect your email address, your name and your company's name as well as any usage data generated. We are unable to provide you with our service without the use of cookies or collecting your email.
      </p>
      <p>
        The use of our service involves the routine submission of application or server information. This includes but is not limited to: ip addresses, operating system identifiers, hostnames, and package or library lists and versioning information. We will make a best effort to list what information we collect.
      </p>


      <p>Users are responsible for any personal data of third parties obtained, published or shared through this application and confirm that they have the third party's consent to provide the data to us.</p>

      <h2>How do you store and process the data?</h2>

      <p>We take all appropriate security measures to prevent the unauthorized accss, diclosure, modification or unathorized destruction of data. Data we possess or process may be accessible to certain types of persons in charge or involved with the operation of the service (administrators, sales, marketing, legal, engineers, etc) as well as some external parties (hosting providers, analytics services, mail carriers, etc). An up to date list of these parties may be requested at any time.</p>
      <p>
        We store and process data at our operating offices and in any other places where parties involved with processing are located. For further information, please contact us.
      </p>


      <p>You can always request that we suspend or remove data pertinent to yourself. Otherwise, we may suspend, remove or keep any data for a period of time at our discretion.</p>


      <h2>What do you use the data for?</h2>

      <p>
        We collect data in order to operate and provide you with our service. For instance, we need to be able to contact you, and studying how users interact with our service allows us to improve it in measurable ways. We use data for purposes including but not limited to: analytics, user database management, handling payments, contacting users, displaying content from external platforms, hosting and backend infrastructure and registration and authentication.
      </p>


      <h3>Analytics</h3>

      <p>The services contained in this section enable the us to monitor and analyze web traffic and can be used to keep track of user behavior. The services we use include but are not limited to:</p>


      <h4>Segment (Segment Inc.)</h4>

      <p>Segment is an analytics service provided by Segment Inc. Personal data collected: Cookie and Usage data. <a href="https://segment.com/docs/legal/privacy/" target="_blank">Privacy Policy</a>
      </p>

      <h4>MixPanel (MixPanel)</h4>

      <p>MixPanel is an analytics service provided by Mixpanel Inc.  Personal Data collected: Cookie and Usage data. <a href="http://mixpanel.com/privacy/" target="_blank">Privacy Policy</a> &ndash; <a href="https://mixpanel.com/optout/">Opt Out</a>

      </p>

      <h4>Google Analytics (Google Inc.)</h4>

      <p>Google Analytics is a web analysis service provided by Google Inc. (“Google”). Google utilizes the Data collected to track and examine the use of this application, to prepare reports on its activities and share them with other Google services.<br/>
        Google may use the Data collected to contextualize and personalize the ads of its own advertising network.  Personal Data collected: Cookie and Usage data.
        <br/>
        <a href="http://www.google.com/intl/en/policies/privacy/" target="_blank">Privacy Policy</a> &ndash; <a href="http://tools.google.com/dlpage/gaoptout?hl=en"  target="_blank">Opt Out</a> 
      </p>

      <h4>FullStory (FullStory Inc.)</h4>

      <p>FullStory is a user behavior tracking service provided by FullStory Inc. Personal data collected: Cookie and Usage data. <a href="https://www.fullstory.com/legal/privacy" target="_blank">Privacy Policy</a>
      </p>

      <h4>Intercom (Intercom Inc.)</h4>

      <p>Intercom is a messaging product provided by Intercom Inc. Personal data collected: Cookie and Usage data. <a href="https://www.intercom.com/privacy" target="_blank">Privacy Policy</a>
      </p> 

      <h4>Analytics collected directl</h4>

      <p>We use an internal analytics system that does not involve third parties.  Personal Data collected: Cookie and Usage data.
      </p>






      <h3>Contacting users</h3>




      <h4>Contact form</h4>

      <p>By filling in the contact form with their data, the user authorizes us to use these details to reply to requests for information, quotes or any other kind of request as indicated by the form’s header.  Personal Data collected: Company name, email address and first and last name.
      </p>



      <h4>Mailing List or Newsletter</h4>

      <p>By registering on the mailing list or for the newsletter, the user’s email address will be added to the contact list of those who may receive email messages containing information of commercial or promotional nature concerning our service. Your email address might also be added to this list as a result of signing up to to our service or after making a purchase.  Personal Data collected: Company name, email address and first and last name.
      </p>


      <h3>Displaying content from external platforms</h3>

      <p>These services allow you to view content hosted on external platforms directly from the pages of this application and interact with them.<br/>
        If a service of this kind is installed, it may still collect web traffic data for the pages where the service is installed, even when users do not use it.</p>


      <h4>Typekit (Adobe Systems Incorporated)</h4>

      <p>Typekit is a typeface visualization service provided by Adobe Systems Incorporated that allows this application to incorporate content of this kind on its pages.  <a href="http://www.adobe.com/privacy/typekit.html" target="_blank">Privacy Policy</a>
      </p>




      <h3>Handling payments</h3>

      <p>Payment processing services enable this application to process payments by credit card, bank transfer or other means. To ensure greater security, this application shares only the information necessary to execute the transaction with the financial intermediaries handling the transaction.<br/>
        Some of these services may also enable the sending of timed messages to the user, such as emails containing invoices or notifications concerning the payment.</p>


      <h4>Stripe (Stripe Inc)</h4>

      <p>Stripe is a payment service provided by Stripe Inc.  Personal Data collected: Various types of aata as specified in the privacy policy of the service. <a href="https://stripe.com/terms/US" target="_blank">Privacy Policy</a>
      </p>




      <h3>Hosting and backend infrastructure</h3>

      <p>These services have the purpose of hosting data and files that enable this application to run and be distributed as well as to provide a ready-made infrastructure to run specific features or parts of this Application.  Some of these services work through geographically distributed servers, making it difficult to determine the actual location where the Personal Data are stored.</p>


      <h4>DigitalOcean (DigitalOcean Inc.)</h4>

      <p>DigitalOcean is a hosting service provided by DigitalOcean Inc.Personal Data collected: Various types of Data as specified in the privacy policy of the service. <a href="https://www.digitalocean.com/legal/privacy/" target="_blank">Privacy Policy</a> 
      </p>

      <h4>GitHub Pages (GitHub Inc.)</h4>

      <p>GitHub Pages is a hosting service provided by GitHub, Inc.  <p> Personal Data collected: Various types of Data as specified in the privacy policy of the service. <a href="https://help.github.com/articles/github-privacy-policy" target="_blank">Privacy Policy</a>
      </p>




      <h3>Registration and authentication</h3>

      <p>By registering or authenticating, users allow this application to identify them and give them access to dedicated services.<br/>
        Depending on what is described below, third parties may provide registration and authentication services.<br/>
        In this case, this application will be able to access some data, stored by these third party services, for registration or identification purposes.</p>


      <h4>GitHub OAuth (GitHub Inc.)</h4>

      <p>GitHub OAuth is a registration and authentication service provided by GitHub Inc. and is connected to the GitHub network.  Personal Data collected: Various types of Data as specified in the privacy policy of the service.  <a href="https://help.github.com/articles/github-terms-of-service#b-api-terms" target="_blank">Privacy Policy</a>
      </p>

      <h4>Direct registration</h4>

      <p>The User registers by filling out the registration form and providing the Personal Data directly to this Application.  Personal Data collected: Company name, email address and first and last name.
      </p>


      <h3>User database management</h3>

      <p>These services allow us to build user profiles by starting from an email address, a personal name, or other information that the user provides to this application, as well as to track user activities through analytics features. This personal data may also be matched with publicly available information about the user (such as social networks' profiles) and used to build private profiles that the Owner can display and use for improving this Application.<br/>
        Some of these services may also enable the sending of timed messages to the user, such as emails based on specific actions performed on this application.</p>


      <h4>Intercom (Intercom Inc.)</h4>

      <p>Intercom is a User database management service provided by Intercom Inc.  Personal Data collected: Email address and various types of data as specified in the privacy policy of the service. <a href="http://docs.intercom.io/privacy.html" target="_blank">Privacy Policy</a>
      </p>

      <h2>Additional information about Data collection and processing</h2>

      <h3>Legal action</h3>
      <p>
        The User's Personal Data may be used for legal purposes by the Data Controller, in Court or in the stages leading to possible legal action arising from improper use of this Application or the related services.<br />The User declares to be aware that the Data Controller may be required to reveal personal data upon request of public authorities.
      </p>

      <h3>Additional information about User's Personal Data</h3>
      <p>
        In addition to the information contained in this privacy policy, this Application may provide the User with additional and contextual information concerning particular services or the collection and processing of Personal Data upon request.
      </p>

      <h3>System Logs and Maintenance</h3>
      <p>
        For operation and maintenance purposes, this Application and any third party services may collect files that record interaction with this Application (System Logs) or use for this purpose other Personal Data (such as IP Address).
      </p>

      <h3>Information not contained in this policy</h3>
      <p>
        More details concerning the collection or processing of Personal Data may be requested from the Data Controller at any time. Please see the contact information at the beginning of this document.
      </p>

      <h3>The rights of Users</h3>
      <p>
        Users have the right, at any time, to know whether their Personal Data has been stored and can consult the Data Controller to learn about their contents and origin, to verify their accuracy or to ask for them to be supplemented, cancelled, updated or corrected, or for their transformation into anonymous format or to block any data held in violation of the law, as well as to oppose their treatment for any and all legitimate reasons. Requests should be sent to the Data Controller at the contact information set out above.
      </p>

      <p>
        This Application does not support “Do Not Track” requests.<br />To determine whether any of the third party services it uses honor the “Do Not Track” requests, please read their privacy policies.
      </p>

      <h3>Changes to this privacy policy</h3>
      <p>
        The Data Controller reserves the right to make changes to this privacy policy at any time by giving notice to its Users on this page. It is strongly recommended to check this page often, referring to the date of the last modification listed at the bottom. If a User objects to any of the changes to the Policy, the User must cease using this Application and can request that the Data Controller removes the Personal Data. Unless stated otherwise, the then-current privacy policy applies to all Personal Data the Data Controller has about Users.
      </p>

      <h3>Information about this privacy policy</h3>
      <p>
        The Data Controller is responsible for this privacy policy, prepared starting from the modules provided by Iubenda and hosted on Iubenda's servers.
      </p>

      <h3>
        Definitions and legal references
      </h3>

      <h4>Personal Data (or Data)</h4>
      <p>Any information regarding a natural person, a legal person, an institution or an association, which is, or can be, identified, even indirectly, by reference to any other information, including a personal identification number.</p>

      <h4>Usage Data</h4>
      <p>Information collected automatically from this Application (or third party services employed in this Application), which can include: the IP addresses or domain names of the computers utilized by the Users who use this Application, the URI addresses (Uniform Resource Identifier), the time of the request, the method utilized to submit the request to the server, the size of the file received in response, the numerical code indicating the status of the server's answer (successful outcome, error, etc.), the country of origin, the features of the browser and the operating system utilized by the User, the various time details per visit (e.g., the time spent on each page within the Application) and the details about the path followed within the Application with special reference to the sequence of pages visited, and other parameters about the device operating system and/or the User's IT environment.</p>

      <h4>User</h4>
      <p>The individual using this Application, which must coincide with or be authorized by the Data Subject, to whom the Personal Data refer.</p>

      <h4>Data Subject</h4>
      <p>The legal or natural person to whom the Personal Data refers.</p>

      <h4>Data Processor (or Data Supervisor)</h4>
      <p>The natural person, legal person, public administration or any other body, association or organization authorized by the Data Controller to process the Personal Data in compliance with this privacy policy.</p>

      <h4>Data Controller (or Owner)</h4>
      <p>The natural person, legal person, public administration or any other body, association or organization with the right, also jointly with another Data Controller, to make decisions regarding the purposes, and the methods of processing of Personal Data and the means used, including the security measures concerning the operation and use of this Application. The Data Controller, unless otherwise specified, is the Owner of  this Application.</p>

      <h4>This Application</h4>
      <p>The hardware or software tool by which the Personal Data of the User is collected.</p>

      <h4>Cookie</h4>
      <p>Small piece of data stored in the User's device.</p>


      <h4>Legal information</h4>
      <p>Notice to European Users: this privacy statement has been prepared in fulfillment of the obligations under Art. 10 of EC Directive n. 95/46/EC, and under the provisions of Directive 2002/58/EC, as revised by Directive 2009/136/EC, on the subject of Cookies.</p>
      <p>This privacy policy relates solely to this Application.</p>

      <p>
        Latest update: September 08, 2015
      </p>

  </div>
</div>


<%= render :partial => "shared/footer" %>
