<div id="error-page">
  <div class="unit-container unit-container_yellow">
    <div class="unit sorry">
      <h1>Sorry, something went wrong.</h1>
      <h3>We probably got notified, but if this problem persists please contact hello@appcanary.com</h3>
    </div>

    <div class="unit illustration">
      <%= image_tag "canary-cat-ate.medium.png" %>
    </div>
  </div>
</div>
