<%= render :partial => "shared/top_menu" %>


<div id="error-page">
  <div class="unit sorry">
    <h1>Sorry, something went wrong.</h1>
    <h3>We probably got notified, but if this problem persists please contact hello@appcanary.com</h3>
  </div>

  <div class="illustration">
    <%= image_tag "canary-hungrycat.medium.png" %>
  </div>
</div>
