.bundle-packages {
  ul.nav-tabs {
    padding-top: 10px;
  }

  .tab-content {
    padding-top: 10px;
  }

  table.packages {
    .package-removed {
      background: #ffecec;
    }

    .package-added {
      background: #eaffea;
    }

    .package-name {
      @extend .fixed-width;
    }
    .package-upgrade-to {
      code {
        color: $upgrade-to-green;
        background-color: $upgrade-to-green-shading;
      }
    }

    .package-ignore-buttons {
      white-space: nowrap;
      float: right;
    }

    .package-version--neutral {
      code {
        color: black;
        background-color: #eee;
      }
    }
  }
}
