#onboarding {
  font-size: 18px;

  .ubuntu-onboarding {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .onboarding-box {
    width: 100%;

    // font-size: 14px;
    // line-height: 18px;

    .onboard-wrapper {
      @include border-top-radius(5px);
      @include border-bottom-radius(5px);
      background-color: white;
      border: #ccc solid 1px;
      padding: 20px;

      h3 {
      }

      & > * {
        border-bottom: 2px #eee solid;
        section {
          padding-top: 20px;
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 10px;
        }

        &:last-child {
          border: none;
        }
      }

    }

    .onboard-logo {
      @extend .col-sm-12;
      margin-top: -10px;
      padding-bottom: 20px;
      img {
        max-width: 150px;
        margin: auto;
        display: block;
      }
    }

    .onboard-title {
      @extend .col-sm-12;
      padding-bottom: 10px;
      h3 {
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }

    .onboard-desc {
      @extend .col-sm-12;
      margin-top: 10px;
      li {
        padding-bottom: 15px;
      }
    }

    .action-bar {
      padding-top: 10px;
      @extend .col-sm-12;
    }

    kbd {
      display: inline-block;
      font-size: 80%;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    pre {
      font-size: 12px;
    }

  }

  .table {
    th, td {
      padding-left: 0px;
    }
  }

  .header {
    @extend .col-sm-12;

    .title {
      @extend .col-sm-12;
      padding-left: 0px;
    }

    .preamble {
      @extend .col-sm-6;
    }

    h2 {
      text-align: center;
    }
  }
  .agent, .monitor, .check {
    @extend .col-sm-4;

    .header {
      a {
        color: inherit;
      }
      h2 {
        text-align: center;
      }

      img {
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  span.platform-logo {
    display: inline-block;
  }

  .options {
    padding-bottom: 1em;
    .title {
      @extend .col-sm-12;
    }

    .table th {
      font-weight: normal;
      border-bottom: 1px solid #ddd;
    }
  }
}
