#vulnerabilities_table {
  .vulnerabilities {
    ul {
      list-style: none;
      padding: 0;
      li.vulnerability {
        a {
          display: block;
          &:hover {
          }
        }
      }
    }
  }

}

#vulnerable_packages {

  .vulnerabilities {
      ul {
        list-style: none;
        padding: 0;
        li.vulnerability {
          a {
            display: block;
            &:hover {
            }
          }
        }
      }
    }

    .mono {
      font-family: monospace;
    }

}

table.artifacts {
  td, th {
    padding: 1em 2em 1em 2em;
    vertical-align: top
  }
  &.vulnerable {
    .info {
      padding-right: 0;
      width: inherit;
      .title {
        padding: .6em 0 .8em 0;
        font-weight: bold;
        word-wrap: break-word;
        max-width: 150px;
      }
      .version, .kind {
        font-size: 0.8em;
        display: block;
      }
      padding-bottom: 2em;
    }
    .vulnerabilities {
      padding-left: 1.5em;
      ul {
        list-style: none;
        padding: 0;
        li.vulnerability {
          a {
            display: block;
            &:hover {
            }
          }
        }
      }
    }
  }
  &.all {
    th {
      font-size: 1.1em;
      color: #ccc;
    }
    .name {
      font-weight: bold;
    }
    .version, .kind {
      width: 1px;
      text-align: center;
    }
  }
}


#vuln {

  .vulnerability {
    $label-width: 150px;
    padding: 1.5em 3em 1.5em 1.5em;
    dd, dt {
      margin-bottom: 1em;
    }
    dt {
      width: $label-width;
      float: left;
      text-align: right;
    }
    dd {
      margin-left: $label-width + 10px;
    }

    .title {
      font-weight: bold;
      font-size: 1.1em;
    }
  }
}
