%td
  %section
    .status
      -if app.vulnerable?
        %span.fa.fa-exclamation-triangle.warn
      -else
        %span.fa.fa-check-circle.okay
    .description
      %span.title
        = link_to app.display_name, server_app_path(@server, app)
      -# %div.last_updated.info
        -# = link_to "updated #{time_ago_in_words app.last_heartbeat_at} ago", app_path(app)


