<td>
  <section>
    <div class="status">
      <% if bundlepres.vulnerable? %>
        <span class="fa fa-exclamation-triangle warn"></span>
      <% else %>
        <span class="fa fa-check-circle okay"></span>
      <% end %>
    </div>
    <div class="description">
      <span class="title">
        <%= link_to bundlepres.display_name, server_app_path(@server, bundlepres) %>
      </span>
    </div>
  </section>
</td>
<td>
  <section>
    <div>
      <%= link_to('delete', server_app_path(@server, bundlepres), method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure you want to delete this app?"}) %>
    </div>
  </section>
</td>
