<div class="app-sidepanel">
  <section>
    <div class="nav-identity">
      <p><a>&lt; Dashboard</a></p>
      <h3>Bounjour</h3>
    </div>
  </section>
  <section>
    <div class="col-md-12">

      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Production</a></li>
        <li role="presentation"><a href="#">Staging</a></li>
        <li role="presentation"><a href="#">Dev</a></li>
      </ul>

      <table class="table unstyled info">
        <tr>
          <td>
            Platforms
          </td>
          <td>
            Ruby, Node
          </td>
        </tr>

        <tr>
          <td>
            Rubygems
          </td>
          <td>
            35-40
          </td>
        </tr>

        <tr>
          <td>
            Last Updated
          </td>
          <td>
            2 hours ago
          </td>
        </tr>
      </table>

      <table class="table issues">
        <thead>
          <th>Issues</th>
        </thead>
        <tr>
          <td>
            Active
          </td>
          <td>
            2 &gt;
          </td>
        </tr>

        <tr>
          <td>
            Resolved
          </td>
          <td>
            56 &gt;
          </td>
        </tr>

        <tr>
          <td>
            Ignored
          </td>
          <td>
            3 &gt;
          </td>
        </tr>
      </table>
    </div>
  </section>
</div>
<div id="app-timeline">
  <%= render :partial => "shared/box" %>
</div>
