/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

$app-panel-width: 300px;
$body-margin-top: 10px;
@import "compass";
@import "bootstrap-sprockets";
@import "bootstrap";
//@import 'vendor/emberui.scss';
@import "users";
@import "font-awesome";
@import 'left-navbar';
@import 'boxes';
@import 'sidepanel';
@import 'events';
@import 'artifacts';
@import 'servers';
@import 'apps';

$link-color: #3798A5;

body {
  padding-bottom: 20px;
  background-color: #f7f7f7;
  font-family: 'proxima-nova',sans-serif;
}

// trigger semibold;
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 600;
  color: #aaa;
}

a {
  color: $link-color;
  &:hover {
    color: adjust-lightness($link-color, 16);
    text-decoration: none;
    //color: $link-color;
  }
}

.main-drawer {
  position: fixed;
  background-color: #fff;
  min-height: 100%;
  padding: 0;
  width: 100%;
  max-width: 900px;
  .container {
    padding-bottom: 20px;
  }

  .heading {
    border-bottom: solid 1px #eee;
    min-height: 48px;
    padding-right: 1em;
    h3 {
      margin-left: 1.3em;
      font-weight: normal;
      line-height: 1.2em;
    }
    .name {
      color: #555;
      font-weight: bold;
    }
    span:not(.name) {
      text-transform: lowercase;
    }

    @media (max-width: $grid-float-breakpoint) {
      padding-left: 30px;
    }
  }

  @media (min-width: $grid-float-breakpoint) {
    position: absolute;
    left: $left-navbar-width;
  }
}

.logo {
  @extend .col-sm-6;
  @extend .col-sm-offset-3;
  margin-top: 20px;
  margin-bottom: 10px;

  img {
    max-width: 175px;
    display:block;
    margin:auto;
  }
}

.intro-logo {
  @extend .col-sm-6;
  @extend .col-sm-offset-3;
  margin-top: 20px;
  margin-bottom: 10px;

  img {
    max-width: 175px;
    display:block;
    margin:auto;
  }


}

section {
  @include make-row();
}

.btn.btn-black {
  @include button-variant(white, black, grey)
}

.error_explanation {
  @extend .alert;
  @extend .alert-danger;
}



table {
  width: 100%;
  tr {
    $border: dashed 1px #ddd;
    border-bottom: $border;
    &:hover {
//      background-color: #f1f1f1;
    }
  }
  td, th {
    padding: 0 1em 0 1em;
  }
  th {
    font-size: 0.8em;
    font-weight: bold;
  }

  td.link {
    font-size: 1.1em;
    //    font-weight: bold;
    padding: 0;
    a {
      display: block;
      width: 100%;
      //      line-height: 3em;
      padding: 0.8em;
      &:hover {
        background-color: #fafafa;
        .time_ago {
          text-decoration: none;
        }
      }
      .title {
        margin-right: 0.5em;
      }
      .info {
        margin-top: 0.3em;
        display: block;
        font-size: 0.8em;
      }
    }
  }
}


.switch {
  $bg-color: #efefef;
  @include border-radius(100px);
  display: block;
  padding: 0 0.3em 0 0.3em;
  border: solid 3px black;
  border-color: #fff #ccc #ccc #fff;
  background-color: $bg-color;
  text-decoration: none;
  font-size: 10px;
  color: #aaa;
  font-weight: bold;
  text-transform: uppercase;
  width: 80px;
  line-height: 25px;
  text-align: center;
  &.pressed {
    border-color: #ccc #fff #fff #ccc;
    background-color: #E6F0E6;
    color: green;
  }
  &:hover {
    background-color: adjust-lightness($bg-color, 11);
  }
}

.status {
  font-size: 1.2em;
  padding-left: 2em;
  padding-right: 0.5em;
  .okay {
    color: rgb(139, 181, 139);
  }
}


.warn {
  color: #A60000;
}

.info {
  color: #888;
  .data {
    color: #333;
  }
}

.tabs {
  $bg-color: #F7F7F7;
  background-color: $bg-color;
  padding: 11px 11px 0 11px;
  .tab {
    display: inline-block;
    padding: 0.5em 1em 0.5em 1em;
    &:not(.active) {
      background-color: adjust-lightness($bg-color, -3);
    }
    &.active {
      border: solid 1px #F0F0F0;
      border-bottom: none;
      background-color: #fff;
      text-decoration: none;
      color: #000;
      cursor: default;
    }
    .fa {
      margin-right: 0.3em;
    }
  }
}
