$dark-yellow: #fadc58;
$slightly-darker-yellow: #eac64b;

$navbar-default-bg: $dark-yellow;
$navbar-default-border: $slightly-darker-yellow;
$link-color: #3798A5;

@import "bourbon";

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'vendor/emberui.scss';
@import "font-awesome";
@import "internal/main";
@import "internal/dashboard";
@import 'internal/boxes';

@import "internal/users";
@import 'internal/servers';
@import 'internal/apps';
@import 'internal/vulns';
@import 'internal/onboarding';
@import 'internal/docs';
@import 'internal/admin';
// for hljs
@import 'vendor/github-gist';

