/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "users";
@import "bootstrap/fixed-side";
@import "font-awesome";

/* Space out content a bit */
body {
  padding-bottom: 20px;
}

.logo {
  @extend .col-sm-6;
  @extend .col-sm-offset-3;
  margin-top: 20px;
  margin-bottom: 10px;

  img {
    max-width: 175px;
    display:block;
    margin:auto;
  }
}

section {
  @include make-row();
}

.btn.btn-black {
  @include button-variant(white, black, grey)
}

.error_explanation {
  @extend .alert;
  @extend .alert-danger;
}

.main-drawer {
  @media (min-width: $grid-float-breakpoint) {
    position:fixed;
    left: 75px;
  }
}

.navbar-left-side {
  @extend .navbar;
  @extend .navbar-fixed-side;
  @extend .navbar-fixed-side-left;
  @extend .navbar-inverse;

  .container .collapsed-menu {
    @extend .navbar-header;
  }

  .menu {
    @extend .nav;
    @extend .navbar-nav;
  }

  .navbar-brand img {
    width: 50px;
  }

  .fa {
    font-size: 40px;
    margin: 5px;
    margin-left: 3px;
  }

  .fa-sign-out {
    margin-left: 7px;
  }


  .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #333;
  }

  .avatar {
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height: 50px;
    margin: 5px;

    img {
      display:block;
      width: 50px;
    }
  }

}
//* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


