.app-sidepanel {
  opacity: 0;
  position: fixed;
  height: 100%;
  background-color: white;

  // compensate for btsp gutters
  margin-left: -15px;
  padding-left: 15px;
  padding-right: 15px;

  // compensate for margin on container
  margin-top: -$body-margin-top;
  padding-top: $body-margin-top;

  .nav-identity {
    text-align: center;
    margin-bottom: 25px;
    .dashboard {
      padding-top: 10px;
    }

    .icon {
      width: 25px;
    }
  }

  ul.nav-tabs {
    margin-bottom: 10px;
  }

  table.info, table.issues {
    thead, th, tr, td {
      border: none;
    }
  }

  table.issues tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }

  table.issues td:last-child  {
    @extend .pull-right
  }

  @media (min-width: $screen-sm-min) {
    width: $container-sm * 0.25;
  }

  @media (min-width: $screen-md-min) {
    width: $container-md * 0.25;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg * 0.25;
  }

  .issues-nav {
    .all-issues {
      @extend .col-sm-12;
      & > * {
        padding: 8px;
      }
    }
    .all-issues:hover {
      & > * {
        background-color: #f5f5f5;
        cursor: pointer;
      }
    }

  }

  .selected {
    background-color: #f5f5f5;
  }


}

#app-timeline {
  .timeline-box {
    @extend .col-sm-offset-3;
  }
}
