@mixin dashboard-box($width, $wrapper){
  @extend #{$width};
  opacity: 0;
  padding-bottom: 20px;

  #{$wrapper} {
    @include border-top-radius(5px);
    @include border-bottom-radius(5px);
    background-color: white;
    border: #ccc solid 1px;

    & > * {
      border-bottom: 2px #eee solid;
      section {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
      }

      &:last-child {
        border: none;
      }
    }
  }

  img.icon {
    width: 18px;
    display: inline;
    &.tiny {
      width: 9px;
    }
  }

}

.event-box {
  @include dashboard-box(".col-sm-8", ".event-wrapper");

  .note {
    @extend .col-sm-12;
  }

  .name {
    @extend .col-sm-4;
  }
  .platforms {
    @extend .col-sm-4;
  }
  .edit-action {
    @extend .col-sm-4;
    eui-button {
      @extend .pull-right;
      margin-top: -5px;
    }
  }
  .timestamp {
    @extend .pull-right;
    color: #787878;
  }

  .action-bar {
    @extend .col-sm-12;
  }
  .last-synch {

  }

}

.onboard-box {
  @extend .col-sm-6;
  @extend .col-sm-offset-3;

  .onboard-wrapper {
    @include border-top-radius(5px);
    @include border-bottom-radius(5px);
    background-color: white;
    border: #ccc solid 1px;
    padding: 30px;
  }

  .onboard-logo {
    @extend .col-sm-12;
    margin-top: -10px;
    img {
      max-width: 150px;
      margin: auto;
      display: block;
    }
  }

  .onboard-desc {
    border-bottom: 2px #eee solid;
  }

  .action-bar {
    section {
      padding-top: 10px;
    }

  }
}

.timeline-box {
  @include dashboard-box(".col-sm-8", ".timeline-wrapper");

  .timeline-wrapper {
    &.vuln {
      border: #f3d8d1 solid 2px;
    }

    &.resolved {
      border: #c1e59b solid 2px;
    }

  }

  .title {
   
    .name {
      @extend .col-sm-4;
    }

    .app-name {
      @extend .col-sm-3;
    }
    .message {
      @extend .col-sm-6;
    }
    .version {
      @extend .col-sm-3;
    }
    .risk {
      @extend .col-sm-2;
    }
    .timeago {
      @extend .col-sm-3;
      color: #787878;
    }

  }

  .affected {
    h3 {
      margin-top: 0px;
      text-transform: uppercase;
      font-size: 13px;
      color: blue;
    }

    ul {
      margin: 0px;
      padding: 0px;
      list-style-type: none;
    }

    .apps { 
      @extend .col-sm-4;
    }
    .servers {
      @extend .col-sm-8;
      ul {
        columns: 3;
        -webkit-columns: 3;
        -moz-columns: 3;
      }
    }
  }

  .resolution {
    .description {
      @extend .col-sm-12;

      .highlight {
        @extend .alert;
        @extend .alert-warning;
      }
    }

    .actions {
      @extend .col-sm-12;
      eui-button {
        margin-top: -5px;
      }
    }
  }


}

