form.simple_form {
  .input {
    padding: .3em;
    $error-color: #F08080;
    .error {
      padding: .3em .5em .3em 0;
      background-color: $error-color;
      color: #fff;
    }
    &.field_with_errors {
      input.string, input.password {
        border: solid 5px $error-color;
      }
    }
  }
  label {
    color: #aaa;
  }
  input.string, input.password {
    padding: 0.3em .5em;
  }
  input.button {
    $btn-bg: #ddd;
    margin: 1em .3em;
    padding: .5em 1em;
    border-color: #fff #ccc #ccc #fff;
    background-color: $btn-bg;
    font-weight: bold;
    color: #888;
    &:hover {
      background-color: adjust-lightness($btn-bg, 5);
    }
  }
}

form.basic {
  padding: 0 2em 0 2em;
  label {
    color: #aaa;
    font-size: 0.88em;
    display: block;
    top: 2.5em;
    left: 1.2em;
    position: relative;
  }

  input.text {
    @include box-shadow(#ccc 0px 1px 3px inset);
    @include border-radius(.3em);
    padding: 1.2em .8em .3em .65em;
    border: solid 1px #ccc;
    color: #555;
    font-size: 1.5em;
    @include input-placeholder {
      color: #ddd;
    }
  }

  input[type="submit"] {
    @include border-radius(.3em);
    $bg: #aaa;
    margin-top: 1.5em;
    padding: 1em;
    background-color: $bg;
    border: none;
    color: #fff;
    &:hover {
      background-color: adjust-lightness($bg, 11);
    }
  }
}


.switch {
  $bg-color: #efefef;
  @include border-radius(100px);
  display: block;
  padding: 0 0.3em 0 0.3em;
  border: solid 3px black;
  border-color: #fff #ccc #ccc #fff;
  background-color: $bg-color;
  text-decoration: none;
  font-size: 10px;
  color: #aaa;
  font-weight: bold;
  text-transform: uppercase;
  width: 80px;
  line-height: 25px;
  text-align: center;
  &.pressed {
    border-color: #ccc #fff #fff #ccc;
    background-color: #E6F0E6;
    color: green;
  }
  &:hover {
    background-color: adjust-lightness($bg-color, 11);
    color: #aaa;
  }
}

// .status {
//   font-size: 1.2em;
//   padding-left: 2em;
//   padding-right: 0.5em;
// }


.fa.okay {
  color: rgb(139, 181, 139);
}
.fa.warn {
  color: #A60000;
}

.info {
  color: #888;
  .data {
    color: #333;
  }
}

.tabs {
  $bg-color: #F7F7F7;
  background-color: $bg-color;
  padding: 11px 11px 0 11px;
  .tab {
    display: inline-block;
    padding: 0.5em 1em 0.5em 1em;
    &:not(.active) {
      background-color: adjust-lightness($bg-color, -3);
    }
    &.active {
      border: solid 1px #F0F0F0;
      border-bottom: none;
      background-color: #fff;
      text-decoration: none;
      color: #000;
      cursor: default;
    }
    .fa {
      margin-right: 0.3em;
    }
  }
}

.empty_message {
  padding: 2em 3em 2em 3em;
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  color: #555;
  text-align: center;
}
