#onboarding {
  font-size: 16px;
  span.platform-logo {
    display: inline-block;
  }

  // onboarding deal with later
  #screenshot .modal-dialog {
    @extend .modal-dialog;
    width: 750px;
  }

  ul.install-nav {
    li {
      margin-bottom: 10px;
    }
  }
}
