#onboarding {
  span.platform-logo {
    display: inline-block;
  }

  // onboarding deal with later
  #screenshot .modal-dialog {
    @extend .modal-dialog;
    width: 750px;
  }

  ul.install-nav {
    li {
      margin-bottom: 10px;
    }
  }

  .fixed-side-menu {
    @extend .col-sm-3;
    .outer-wrapper {
      position: absolute;

      @media screen and (max-width: 736px) {
        display: none;
      }

      .inner-wrapper {
        position: fixed;
        top: 60px;
      }
    }
  }
}
