table.servers {
  .status, .notifications {
    width: 1px;
    white-space: no-wrap;
  }
  .actions {
    width: 1px;
  }
  .avatar img {
    width: 14px;
  }
}

.heading {
  .avatar img {
    width: 18px;
  }
}
