table.servers {
  .status, .notifications {
    width: 1px;
    white-space: no-wrap;
  }
  .actions {
    width: 70px;
    text-align: right;
    a {
      margin-left: 5px;
    }
  }
  .avatar img {
    width: 14px;
  }
}

.heading {
  .avatar img {
    width: 18px;
  }
}

form.edit_server {
  .field {
    &.name {
    }
    input.text {
      width: 500px;
    }
  }
}
