// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-login {
  @extend .col-sm-4;
  @extend .col-sm-offset-4;
  h3 {
    color: #000;
  }
}

form.edit_user {
  .input {
    label {
      display: block;
    }
    input.string, input.password {
      width: 300px;
    }
  }
}

.user_form {
  @extend .col-sm-8;
}

.user_api {
  @extend .col-sm-6;
  code {
    color: black;
  }
}
