// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-login {
  @extend .col-sm-4;
  @extend .col-sm-offset-4;
  h3 {
    color: #000;
  }
}

form.edit_user {
  .input {
    label {
      display: block;
    }
    input.string, input.password {
      width: 300px;
    }
  }
}

.user_form {
  @extend .col-sm-8;
}

.user_api {
  code {
    color: black;
  }
}

form#payment-form {
  padding: 0 0 2em 0;
  .field {
    display: inline-block;
    height: 1px;
    margin: 0;
    padding: 0;
  }
  input.text {
    height: initial;
    margin: 0;
    font-size: 1.5em;
    
  }
  .cc-number {
    width: 350px;
  }

  .cc-name {
    width: 350px;
  }

  .cc-mm {
    // display: inline;
    // width: 100px;
    input {
    //   display: inline;
      width: 100px;
    }
  }
  .cc-cvc {
    // display: inline;
    // width: 93px;
    input {
    //   display: inline;
      width: 93px;
    }
  }
  input[type="submit"] {
    width: 300px;
  }
  .buttons {
    margin-top: 2em;
  }
}



form.settings {
  padding: 0;
  .field {
    display: inline-block;
    height: 1px;
    margin: 0;
    padding: 0;
    width: 300px;
  }
  input.text {
    width: 100%;
    margin: 0;
  }
}
