$dark-yellow: #fadc58;
$slightly-darker-yellow: #eac64b;

$navbar-default-bg: $dark-yellow;
$navbar-default-border: $slightly-darker-yellow;
$link-color: #3798A5;

$upgrade-to-green: #288A24;
$upgrade-to-green-shading: #DDF9DC;
$vulnerable-red: #c7254e;
$vulnerable-red-shading: #f9f2f4;
