.vulnerability {
  $label-width: 150px;
  padding: 1.5em 3em 1.5em 1.5em;
  dd, dt {
    margin-bottom: 1em;
  }
  dt {
    width: $label-width;
    float: left;
    text-align: right;
  }
  dd {
    margin-left: $label-width + 10px;
  }

  .title {
    font-weight: bold;
    font-size: 1.1em;
  }
}
