<section class="header">
  <div class="rubyseclogo">
    <a href="/"><%= image_tag "rubysec-logo.png" %></a>
  </div>

  <div class="title">
    <h1>Rubysec</h1>
    <p>Providing security resources for the Ruby community.
      <br/>Follow us @rubysec or contact us via email info at rubysec.com</p>
  </div>
</section>
