<h1>One day an index will go here.</h1>
<% if false #bad comment %>
<table class="table">
  <thead>
    <th>
      title
    </th>
    <th>
      source
    </th>
  </thead>
  <tbody>
    <% @vulns.each do |v| %>
      <tr>
        <td>
          <%= v.title %>
        </td>

        <td>
          <%= v.source %>
        </td>
      </tr>-
    <% end %>
    
  </tbody>
</table>
<% end %>
