<%= render 'shared/logo' %>

<section>
  <div class="user-login">
    <% content_for :user_form_title do %>
      <h3>Nice to see you again.</h3>
    <% end %>

    <%= render :partial => 'users/form', :locals => { :sign_up => false } %>
  </div>
</section>
