<%= li_active "docs", class: "dropdown" do %>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-book"></i> Documentation <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="/docs">How It Works</a></li>
        <li><a href="/docs/api">API Docs</a></li>
        <li><a href="/docs/ci">Continuous Integration</a></li>
        <li><a href="/docs/agent_upgrade">Upgrading the Agent</a></li>
    </ul>
<% end %>
