<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand-hero" href="/">
        <%= image_tag "appcanary-hero.png" %>

      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        <%= li_active "docs", class: "dropdown" do %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-book"></i> Documentation <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/docs">Getting Started</a></li>
                <li><a href="/docs/api">API Docs</a></li>
                <li><a href="/docs/ci">Continuous Integration</a></li>
            </ul>
        <% end %>

        <%= li_active "vulns" do %>
          <a href="/vulns">
            <i class="fa fa-folder-open"></i> Vulnerabilities
          </a>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/login">
            <i class="fa fa-sign-in"></i> Log in
          </a>
        </li> <li>
          <a href="/sign_up">
            <i class="fa fa-level-up"></i> Sign Up
          </a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
