.navbar-left-side{:role => "navigation"}
  .container
    .collapsed-menu
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .navbar-collapse.collapse
      %ul.menu
        %li
          %a.navbar-brand{:href => "/"}
            = image_tag "appcanary.rect.png"
      %ul.menu
        %li.divider
        - if @onboarded
          %li
            %a{:href => "/dashboard",
               class: (controller_name == 'dashboard') ? 'active' : ''}
              %i.fa.fa-clock-o
        %li
          %a{:href => "/servers/new",
             class: (controller_name == 'servers' && action_name == 'new') ? 'active' : ''}
            %i.fa.fa-plus
        %li
          %a{:href => settings_path, class: (controller_name == 'settings') ? 'active' : ''}
            %i.fa.fa-cog
        - if current_user.is_admin?
          %li
            %a{:href => admin_root_path,
               class: (controller_path =~ /admin/) ? 'active' : ''}
              %i.fa.fa-book
        - if true_user != current_user
          %li
            = link_to "<i class='fa fa-ban' ></i>".html_safe, stop_impersonating_users_path,
              :method => :post

          

        %li
          = link_to '<i class="fa fa-sign-out"></i>'.html_safe, logout_path, :method => :post
